

.menudetails-container{
    width: 100%;
    height: max-content;
    padding: 40px 30px;
    border: 1px solid grey;
    border-radius: 30px;
    margin-top: 95px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.menuimg-container{
    padding: 50px 40px ;
    width: 50%;
    border-right: 3px solid grey;
    height: max-content;
    box-sizing: border-box;
    min-width: 400px;
    display: flex;
    justify-content: center;
}

.menuimg-container img{
    width: 95%;
    transition: ease-in-out transform 0.8s;
}

.menuimg-container img:hover{
    transform: scale(1.1);
}

.details-container{
    width: 50%;
    height: max-content;
    padding: 0px 40px;
}

.details-container h2{
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin: 20px;
}

.details-container p, h4{
    margin-left: 20px;
}

.details-container h4{
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    margin: 10px 20px 20px ;
}

.details-container p{
    font-size: larger;
    line-height: 28px;
}

.details-container a{
    margin-right: 20px;
}

.details-container button{
    margin-top: 40px;
    padding: 14px 22px;
    border-radius: 40px;
    border: 1px solid red;
    background-color: red;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.details-container button:hover{
    background-color: white;
    color: red;
}

@media only screen and (max-width: 768px){
    .menudetails-container{
        flex-direction: column;
        align-items: center;
    }

    .menuimg-container{
        width: 100%;
        min-width: 350px;
        border: none;
    }

    .menuimg-container img{
        width: 100%;
    }

    .details-container{
        width: 80%;
        text-align: center;
    }
}